body {background-color: powderblue;}
.flex > div {
  background-color: #909397;
  margin: 12px;
  padding: 15;
  font-size: 25px;
}
navigation_bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.navigation_bar li {
display: inline-block;
}
h1 {
  font-size: 40px;
  color: red;
}
h3
{
  font-size: 25px;
  color: blueviolet;
}

h2 {
  color: rgb(23, 113, 86);
  font-size: 30px;
}

p {
  font-size: 14px;

}
 img{
  height: 200px;
  width: 40%;
  border-radius: 18px;

 }




